@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


h1{
    
    color: blue;
    font-family: 'Darumadrop One', cursive;
    text-align: center;
    
}




.div-padre{
    background-image: url(https://turismo.buenosaires.gob.ar/sites/turismo/files/estadio_boca_juniors_1200_cancha_1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;

}

.div-padre{
    margin: 31px;
    padding: 51px;
    border: 0px;
}
.footer{
    background-color: gray;
    padding:10px  0px;
    color: black;
}
.section-roman{
    display: inline;
}
.section-lompa{
    display: inline;
}
.section-lompa div:first-child{
    display: inline;
}
